<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.gamma.c.transformation.patterns.Patterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.gamma.c.transformation.patterns.Patterns" id="hu.bme.mit.gamma.c.transformation.patterns.Patterns">
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.packages"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.statecharts"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.regions"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.initialStates"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.shallowHistoryStates"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.deepHistoryStates"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.states"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.choiceStates"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.mergeStates"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.forkStates"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.joinStates"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.transitions"/>
    </group>
  </extension>
  <extension id="hu.bme.mit.gamma.c.transformation.patterns.TracePatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.gamma.c.transformation.patterns.TracePatterns" id="hu.bme.mit.gamma.c.transformation.patterns.TracePatterns">
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.packageTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.statechartTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.regionTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.initialStateTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.shallowHistoryStateTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.deepHistoryStateTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.choiceStateTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.mergeStateTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.forkStateTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.joinStateTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.stateTraces"/>
      <query-specification fqn="hu.bme.mit.gamma.c.transformation.patterns.transitionTraces"/>
    </group>
  </extension>
</plugin>
